[submodule "cv-assignment-1"]
	path = Assignment-1
	url = git@github.com:idodin/cv-assignment-1.git
[submodule "Assignment-2"]
	path = Assignment-2
	url = git@github.com:idodin/cv-assignment-2.git
[submodule "Assignment-3"]
	path = Assignment-3
	url = git@github.com:idodin/cv-assignment-3.git
[submodule "cv-assignment-4"]
	path = Assignment-4
	url = git@github.com:idodin/cv-assignment-4.git
